#cart.cart
  .wrapper
    .top
      span.bag
      h2.title SACOLA
    ul.added-itens
      li.item
        .item-data
          .image
            figure
              img(src='images/0.png', alt='', title='', width='50px')
          .description
            h3 Camiseta Corinthians College 77
            span GGG | Preto e branco
            span Quantidade: 1
        .item-actions
          a.remove
    .cart-value
      p Subtotal
      div.price
        span.full-price 
          small R$ 
          strong 379,70
        span.installment-price ou em até 10 X R$ 37,97
    a.buy(href='') COMPRAR
